ul
  li

    a(href='/')
      i.fa.fa-pulse.fa-scissors.fa-fw
      span Home
  li

    a(href='/about')
      i.fa.fa-cc-mastercard.fa-fw
      span About
  li
    a(href='/faq')
      i.fa.fa-linux.fa-fw
      span FAQ
  li
    a(href='/aliens')
      i.fa.fa-optin-monster.fa-fw
      span Aliens
  li
    a(href='/aliens/new')
      i.fa.fa-optin-monster.fa-fw
      span New Aliens
